*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font: normal 16px sans-serif;
    color: #555;
}

ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    opacity: 0.75;
    color: #555;
    transition-delay: 2ms;
    transition-duration: .1s;
}

a:hover{
    opacity: 1;
    border-bottom: 1.5px solid#555;
}

a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: rgb(57, 57, 57);
    color: white;
    opacity: .8;
    padding: 1rem;
    transition-duration: .2s;
}

a.btn:hover{
    border-radius: 5px;
    border: 2px solid rgb(45, 44, 44);
    background-color: rgb(45, 44, 44);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section h3.title{
    text-transform: capitalize;
    font: bold 2.2rem "Open Sans", sans-serif;
    margin-bottom: 2rem;
    text-align: center;
}

section p{
    max-width: 780px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

/* styling the nav */
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    z-index: 1;

}

@keyframes fadein{
    100% {
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand", sans-serif;
}

header nav{
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

/*  styling every other section bkgd color*/
section:not(.landing-content):nth-child(even){
    background-color: #e4e0e0;
}

/* landing content area */
.landing-content{
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin-top: 100px;
    opacity: 0;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

.landing-content .background-image{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: rgb(57, 57, 57);
    opacity: .6;
}

.landing-content h1{
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
    color:  rgb(45, 44, 44);
}

.landing-content h3{
    font: bold 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: rgb(45, 44, 44);
}

/* media queries */
@media(max-width: 700px){
    header{
        flex-direction: column;
    }

    .toggle-nav{
        padding-top: 1rem;
    }

    .guided-title{
        display: none;
    }

    .landing-content h3{
        background-color: rgba(57, 57, 57, 0.797);
        color: white;
        font-size: 1.2rem;
        padding: 1rem;
        /* width: 100vw; */
    }
    a.btn{
        display: none;
    }

}

/* trail section styling */
.trails .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.trails .grid li.small{
    flex-basis: 30%;
}


.trails .grid li.large{
    flex-basis: 70%;
}


@media(max-width: 1100px){
    .trails .grid li.small , .trails .grid li.large{
        flex-basis: 50%;
    }
}

@media(max-width: 850px){
    .trails .grid li.small , .trails .grid li.large{
        flex-basis: 100%;
    }
}

/* guide styling */
section.guides{
    min-height: 100vh;
}
.guide-pics{
    height: 400px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.guides h4{
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .2rem;
}

.guides h4.email{
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .05rem;
    font-weight: lighter;
}

/* review section styling */
.reviews{
    min-height: 100vh;
}

.mtn-clip-path{
    background-color: #e4e0e0;
    height: 95px;
    width: 200px;
    margin-bottom: 1rem;
    -webkit-clip-path: polygon(50% 45%, 71% 82%, 83% 59%, 100% 100%, 0 100%, 23% 63%, 36% 75%);
    clip-path: polygon(50% 45%, 71% 82%, 83% 59%, 100% 100%, 0 100%, 23% 63%, 36% 75%);
}

.reviews-hr{
    width: 220px;
    height: 2px;
    background-color:#e4e0e0;
    margin-bottom: 1.5rem;
    border: 0;
}

#q1{
    font-weight: 5rem;
}

/* contact section styling */
.contact-hr{
    width: 220px;
    height: 2px;
    background-color:white;
    margin-bottom: 3rem;
    border: 0;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: rgb(57, 57, 57);
    color: white;
    opacity: .8;
    padding: .8rem;
    transition-duration: .2s;
}

.contact form .btn:hover{
    border-radius: 5px;
    border: 2px solid rgb(45, 44, 44);
    background-color: rgb(45, 44, 44);
}

.contact form input{
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: .9rem;
    color: #555;
    flex: 1;
    /* max-width: 350px; */
}


@media(max-width: 500px){
    section{
        padding: 2vw;
    }
    .contact form input{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}